<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>AuthStringLoginFilter</filter-name>
        <filter-class>sit.int303.grianisland.util.filter.AuthStringLoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>sit.int303.grianisland.util.filter.AuthFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminAuthFilter</filter-name>
        <filter-class>sit.int303.grianisland.util.filter.AdminAuthFilter</filter-class>
    </filter>
    <filter>
        <filter-name>Utf8Filter</filter-name>
        <filter-class>sit.int303.grianisland.util.filter.Utf8Filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Utf8Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthStringLoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>EditProfile</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>ShopNpc</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>ChangeAvatar</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>ViewOnlinePlayer</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>ViewProfile</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>AddNpc</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>ChooseClan</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>GetList</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>GetMap</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>TalkNpc</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>TradeCard</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>ViewCard</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>DeletePuts</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>GetMentioning</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>GetPublicTimeline</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>GetTimeline</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>Puts</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>GetFriendList</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>FindPuts</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>AcceptFriend</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminAuthFilter</filter-name>
        <servlet-name>AddNpc</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminAuthFilter</filter-name>
        <servlet-name>ForceLoadMap</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>GetMoney</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>Duel</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>ViewBattle</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>Battle</servlet-name>
    </filter-mapping>
    <listener>
        <description>ServletContextListener, ServletContextAttributeListener</description>
        <listener-class>sit.int303.grianisland.core.listener.GrianIslandContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>sit.int303.grianisland.core.servlet.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopNpc</servlet-name>
        <servlet-class>sit.int303.grianisland.game.servlet.ShopNpc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeAvatar</servlet-name>
        <servlet-class>sit.int303.grianisland.core.servlet.ChangeAvatar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>sit.int303.grianisland.core.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>sit.int303.grianisland.core.servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>sit.int303.grianisland.core.servlet.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOnlinePlayer</servlet-name>
        <servlet-class>sit.int303.grianisland.core.servlet.ViewOnlinePlayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfile</servlet-name>
        <servlet-class>sit.int303.grianisland.core.servlet.ViewProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseClan</servlet-name>
        <servlet-class>sit.int303.grianisland.game.servlet.ChooseClan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMap</servlet-name>
        <servlet-class>sit.int303.grianisland.game.servlet.GetMap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TalkNpc</servlet-name>
        <servlet-class>sit.int303.grianisland.game.servlet.TalkNpc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TradeCard</servlet-name>
        <servlet-class>sit.int303.grianisland.game.servlet.TradeCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCard</servlet-name>
        <servlet-class>sit.int303.grianisland.game.servlet.ViewCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePuts</servlet-name>
        <servlet-class>sit.int303.grianisland.puts.servlet.DeletePuts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMentioning</servlet-name>
        <servlet-class>sit.int303.grianisland.puts.servlet.GetMentioning</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPublicTimeline</servlet-name>
        <servlet-class>sit.int303.grianisland.puts.servlet.GetPublicTimeline</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTimeline</servlet-name>
        <servlet-class>sit.int303.grianisland.puts.servlet.GetTimeline</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Puts</servlet-name>
        <servlet-class>sit.int303.grianisland.puts.servlet.Puts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFriendList</servlet-name>
        <servlet-class>sit.int303.grianisland.puts.servlet.GetFriendList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindPuts</servlet-name>
        <servlet-class>sit.int303.grianisland.puts.servlet.FindPuts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptFriend</servlet-name>
        <servlet-class>sit.int303.grianisland.puts.servlet.AcceptFriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFriend</servlet-name>
        <servlet-class>sit.int303.grianisland.puts.servlet.DeleteFriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForceLoadMap</servlet-name>
        <servlet-class>sit.int303.grianisland.game.servlet.ForceLoadMap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Battle</servlet-name>
        <servlet-class>sit.int303.grianisland.game.servlet.Battle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBattle</servlet-name>
        <servlet-class>sit.int303.grianisland.game.servlet.ViewBattle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Duel</servlet-name>
        <servlet-class>sit.int303.grianisland.game.servlet.Duel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMoney</servlet-name>
        <servlet-class>sit.int303.grianisland.core.servlet.GetMoney</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetMap</servlet-name>
        <url-pattern>/GetMap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopNpc</servlet-name>
        <url-pattern>/ShopNpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TalkNpc</servlet-name>
        <url-pattern>/TalkNpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TradeCard</servlet-name>
        <url-pattern>/TradeCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopNpc</servlet-name>
        <url-pattern>/ShopNpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeAvatar</servlet-name>
        <url-pattern>/ChangeAvatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOnlinePlayer</servlet-name>
        <url-pattern>/ViewOnlinePlayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfile</servlet-name>
        <url-pattern>/ViewProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseClan</servlet-name>
        <url-pattern>/ChooseClan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCard</servlet-name>
        <url-pattern>/ViewCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePuts</servlet-name>
        <url-pattern>/DeletePuts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMentioning</servlet-name>
        <url-pattern>/GetMentioning</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPublicTimeline</servlet-name>
        <url-pattern>/GetPublicTimeline</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTimeline</servlet-name>
        <url-pattern>/GetTimeline</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Puts</servlet-name>
        <url-pattern>/Puts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFriendList</servlet-name>
        <url-pattern>/GetFriendList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindPuts</servlet-name>
        <url-pattern>/FindPuts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptFriend</servlet-name>
        <url-pattern>/AcceptFriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFriend</servlet-name>
        <url-pattern>/DeleteFriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForceLoadMap</servlet-name>
        <url-pattern>/ForceLoadMap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Battle</servlet-name>
        <url-pattern>/Battle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBattle</servlet-name>
        <url-pattern>/ViewBattle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Duel</servlet-name>
        <url-pattern>/Duel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMoney</servlet-name>
        <url-pattern>/GetMoney</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60*60*2</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/Error.jsp</location>
    </error-page>
</web-app>
